/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rouge+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&family=Rouge+Script&display=swap');


.banner-title .title{
    color: rgb(0, 43, 97);
    font-weight: bolder;
    font-size: 46px;
    font-family: 'Audiowide', cursive;
}
.hero-area p{
    font-family: 'Poppins', sans-serif;
    text-align:justify;
    margin-top: 30px;
    margin-bottom: 20px;
}

.bannen-btn{
    font-size: 23px;
    padding: 6px 17px;
    border-radius: 5px;
    font-weight: bold;
}
.bannen-btn:hover{
    background-color: rgb(1, 30, 50);
    color: rgb(255, 139, 81);

}

.carousel{
    height: 600px;
}
@media screen and (min-width: 996px){
    .banner-title {
        width: 90%;
    }
}
@media screen and (min-width: 400px){
    .banner-title .title{
        font-size: 50px;
    }
}
@media screen and (min-width: 992px){
    .banner-img{
        margin-top: 70px;
    }
}
