.nav-contain{
    background-color: rgb(1, 30, 50);
}
.brand{
    font-size: 30px;
    color: rgb(253, 253, 253);
    /* color: rgb(255, 139, 81); */
    text-decoration: none;
    font-weight: bold;
}
